/* #leftBox {
    background-color: #fdf0d5;
    width:50%;
    height: 50%;
    margin: auto;
} */

/* .split.top {
    height: 50%;
    width: ;
    position: absolute;
    top: 0;
    /* overflow-x: hidden; */
    /* padding-top: 20px; */
    /* z-index: -1;
    background-color: #fdf0d5;
} */

.top {
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: #003049; 
    z-index: -1;
    position: absolute;
}

.bottom {
    left: 0;
    right: 0;
    height: 190%;
    background-color: #fdf0d5; 
    position: absolute;
    z-index: -2;
}

img {
    position: absolute;
    right: 10%;
    top: 200px;
    border-radius: 6px;
}

h1 {
    color: white; 
    position: absolute;
    top: 22rem;
    right: 35%;
    font-size: 35px;
    /* text-shadow: 0px 2px 5px; */
}

h2 {
    position: absolute;
    /* color: #003049; */
    color: white;
    top: 110%;
    left: 80%;
}

p {
    position: absolute;
    color: #274C77;
    top: 130%;
    left: 10%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

nav {
    /* background-color: #dbe4ee; */
    position: absolute;
    /* height: fit-content; */
    top: 0.5rem;
    right: 5%;
    /* transition: top 0.3s; */
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    word-spacing: 3px;
}

nav a:hover {
    background-color: #ddd;
    transition: background-color 0.6s ease;
    color: black;
}

nav a:link {
    text-decoration: none;
}